*.mp4
*.mot
__pycache__/
*.npy
*.sto
*.TXT
*.sto
*.log
*.osim
*.csv
#Geometry/
__pycache__/
wandb/
logs/
models/
*.xlsx
*.ods
*.zip

!exo_forces_static_stoop.npy
!exo_forces_static_squat.npy
!exo_forces_dynamic_squat.npy
!exo_forces_dynamic_stoop.npy
!exo_joint_dynamic_squat.npy
!exo_joint_dynamic_stoop.npy